<div class="box-header">
    <h2><i ng-class="currentView.icon"></i><span class="break"></span>
        <span>编辑{{currentView.name}}</span>
    </h2>

    <div class="box-icon">
        <a ng-click="cancelEdit()" class="btn-close" style="color: white"><i class="fa fa-times"></i></a>
    </div>
</div>
<div class="box-content">
    <form class="form-horizontal" role="form" name="editForm">
        <div class="form-group">
            <label class="col-lg-2 control-label"></label>
            <span class="help-block"><i class="fa fa-circle"> 标记的项目不能为空</i></span>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">品名</label>
            <div class="col-lg-6">
                <div class="input-group">
                    <input class="form-control" name="name" type="text" ng-model="entity.name">
                    <span class="input-group-addon"><i class="fa fa-circle"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">型号</label>
            <div class="col-lg-6">
                <div class="input-group">
                    <input class="form-control" name="model" type="text" ng-model="entity.model">
                    <span class="input-group-addon"><i class="fa fa-circle-o"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">售价/元</label>
            <div class="col-lg-6">
                <div class="input-group">
                    <input class="form-control" name="price" type="text" ng-model="entity.price">
                    <span class="input-group-addon"><i class="fa fa-circle"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">类别</label>
            <div class="col-lg-6">
                <div class="input-group">
                    <input class="form-control" name="tags" type="text" ng-model="entity.tags[0]">
                    <span class="input-group-addon"><i class="fa fa-circle-o"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">描述</label>
            <div class="col-lg-6">
                <div class="input-group">
                    <input class="form-control" name="desc" type="text" ng-model="entity.desc">
                    <span class="input-group-addon"><i class="fa fa-circle-o"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">状态</label>
            <div class="col-lg-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-success" ng-model="entity.status" btn-radio="'sale'">上架</button>
                    <button type="button" class="btn btn-warning" ng-model="entity.status" btn-radio="'desale'">下架</button>
                </div>
            </div>
        </div>
        <div class="form-group" ng-repeat="img in imgs">
            <div class="form-group">
                <label class="col-lg-2 control-label">图片详情：</label>

                <div class="col-lg-6">
                    <img ng-src="{{img}}">
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-6">
                <button ng-disabled="editForm.$invalid" ng-click="update(entity)" class="btn btn-primary btn-lg"><i
                        class="fa fa-save fa-lg"></i> 保存
                </button>
                <button ng-click="cancelEdit()" class="btn btn-warning btn-lg"><i class="fa fa-arrows-alt fa-lg"></i> 取消
                </button>
                <button ng-click="changePic()" class="btn btn-info btn-lg"><i class="fa fa-picture-o fa-lg"></i> 更换图片
                </button>
            </div>
        </div>

        <div ng-if="showChangePic">
            <div class="form-group">
                <label class="col-lg-2 control-label"></label>
                <div class="col-lg-6">
                    <div class="alert alert-danger">注意：重新上传后，原先的图片会从服务器上删除！</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">上传：</label>
                <div class="col-lg-2">
                    <input ng-file-select="" type="file" multiple ng-model="none">
                </div>
                <div class="col-lg-8">
                    <table class="table">
                        <tbody>
                        <tr ng-repeat="item in uploaderForEdit.queue" class="ng-scope">
                            <td>
                                <strong>{{ item.file.name }}</strong>

                                <div ng-show="uploaderForEdit.isHTML5" ng-thumb="{ file: item.file, height: 100 }"></div>
                            </td>
                            <td ng-show="uploaderForEdit.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploaderForEdit.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar"
                                         ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
                                <span ng-show="item.isError"><i class="fa fa-times"></i></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-6">
                    <button type="button" class="btn btn-success btn-s" ng-click="uploadForEdit()"
                            ng-disabled="!uploaderForEdit.getNotUploadedItems().length">
                        <i class="fa fa-cloud-upload"></i>上传
                    </button>
                    <button type="button" class="btn btn-danger btn-s" ng-click="uploaderForEdit.clearQueue()" ng-disabled="!uploaderForEdit.queue.length">
                        <span class="fa fa-trash-o"></span>重选
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>


