<div class="box">
<div class="box-header">
	<h2><i ng-class="currentView.icon"></i><span class="break"></span>{{currentView.name}} - 详情</h2>
	<div class="box-icon">
		<a ng-click="showList()" class="btn-close"><i class="fa fa-times"></i></a>
	</div>
</div>
<div class="box-content" style="">
	<div class="col-lg-12">
		<a ng-repeat="shortcut in profileShortcuts" ng-class="shortcut.class" ng-click="operateFunc(entity, shortcut.op)">
			<i ng-class="shortcut.icon" />
			<p>{{shortcut.text}}</p>
		</a>
	</div>
	
	<div class="col-lg-12">
		<div class="col-lg-4 col-md-12 col-xs-12" ng-show="imgs.length">
            <img ng-src="{{img}}" ng-repeat="img in imgs" style="display: block; width: 300px; height: 200px;">
		</div>
        <div class="col-lg-2 col-md-12 col-xs-12" ng-show="!imgs.length">
        </div>
		<div class="col-lg-8 col-md-12 col-xs-12">
			<table class="table table-striped">
			  <tbody>
					<tr ng-repeat="field in profileFields" ng-hide="field.isProfileHide || field.leaverNoHide(entity)">
						<td class="center"><h4>{{field.title}}</h4></td>
						<td class="center">
							<h4 ng-if="field.value" ng-class="entity.fieldClass[field.name]">{{field.value(entity)}}</h4>
							<h4 ng-if="!field.value" ng-class="entity.fieldClass[field.name]">{{valueOfKeyString(entity, field.name)}}</h4>
						</td>
					</tr>
                    <tr  ng-if="!imgs.length">
                        <td>图片：</td>
                        <td><span>该商品暂无图片</span></td>
                    </tr>
				</tbody>
			</table>
		</div>
	</div>
<!--    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div style="margin-left: 20px;">
                <img  ng-src="{{img}}" ng-repeat="img in imgs" style="display: inline-block; width: 200px; height: 200px;">
            </div>
        </div>
    </div>-->
	<div class="clearfix"></div>
</div>
</div>
