<div class="row" ng-controller="MerchantAnalysisController" ng-init="init()">
  <div class="box col-lg-12">
    <div class="box-header">
    	<h2><i ng-class="currentView.icon"></i><span class="break"></span>
        {{currentView.name}}
    	</h2>
    </div>
    <div class="box-content">
      <div class="row">
        <div class="input-group col-lg-3">
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-model="statParam.period" btn-radio="'daily'">日</button>
            <button class="btn btn-primary" ng-model="statParam.period" btn-radio="'weekly'">周</button>
            <button class="btn btn-primary" ng-model="statParam.period" btn-radio="'monthly'">月</button>
          </span>
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="datapickOpen" max="today" datepicker-options="dateOptions" ng-required="true" show-weeks="false" show-button-bar="false"/>
          <span class="input-group-btn">
            <button class="btn" ng-click="open($event)"><span class="fa fa-calendar"></span></button>
          </span>
        </div>
      </div>
      <div google-chart="" chart="chart" style="{{chart.cssStyle}}" on-ready="chartReady()">
    </div>
  </div>
</div>
