<div class="box">
<div class="box-header">
	<h2><i ng-class="currentView.icon"></i><span class="break"></span><span>注册{{currentView.name}}</span></h2>
	<div class="box-icon">
		<a ng-click="cancelEdit()" class="btn-close"><i class="fa fa-times"></i></a>
	</div>
</div>
<div class="box-content">
  <form class="form-horizontal" ng-model="entity" name="registerForm">
		<div class="form-group">
			<label class="col-lg-2 control-label"></label>
      <span class="help-block"><i class="fa fa-circle"> 标记的项目不能为空</i></span>
		</div>
    <div class="form-group" ng-repeat="field in registerFields">
      <label class="col-lg-2 control-label">{{field.title}}</label>
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa {{field.iPrepend}} fa-lg"></i></span>
          <input class="form-control focused" type="text" ng-model="entity[field.key]" ui-event="{ blur: 'validate($index)' }" required>
          <span class="input-group-addon"><i class="fa {{field.iStatus}}"></i></span>
        </div>
      </div>
    </div>
    <hr>
    <!-- <div ng-include="editView" /> -->
    <div class="form-group">
      <label class="col-lg-2 control-label">新编号</label>
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-barcode fa-lg"></i></span>
          <input class="form-control focused" type="text" ng-model="entity.code">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">新名字</label>
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-flag fa-lg"></i></span>
          <input class="form-control focused" type="text" ng-model="entity.name">
        </div>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <alert ng-repeat="alert in registerOptions.alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
      <div class="col-lg-offset-2 col-lg-10">
        <button ng-disabled="registerForm.$error.required" ng-click="register()" class="btn btn-primary btn-lg">
          <i class="{{registerOptions.icon}}"></i>  注册设备
        </button>
        <button ng-click="cancelEdit()" class="btn btn-lg">  取消</button>
      </div>
    </div>
  </form>
</div>
</div>