<div class="form-group">
    <label class="col-lg-2 control-label">店面编码</label>
    <div class="col-lg-6">
        <div class="input-group">
            <input class="form-control" name="code" type="text" ng-model="entity.code">
            <span class="input-group-addon"><i class="fa fa-circle"></i></span>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">店名</label>
    <div class="col-lg-6">
        <div class="input-group">
            <input class="form-control" name="name" type="text" ng-model="entity.name">
            <span class="input-group-addon"><i class="fa fa-circle"></i></span>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">地址</label>
    <div class="col-lg-6">
        <div class="input-group">
            <input class="form-control" name="address" type="text" ng-model="entity.address">
            <span class="input-group-addon"><i class="fa fa-circle"></i></span>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">电话号码</label>
    <div class="col-lg-6">
        <div class="input-group">
            <input class="form-control" name="telephone" type="text" ng-model="entity.telephone" ng-pattern="patternForTelephone">
            <span class="input-group-addon"><i class="fa fa-circle"></i></span>
        </div>
    </div>
    <div class="col-lg-4" ng-if="editForm.telephone.$error.pattern">
        <span class="label label-warning">电话号码格式不正确！</span>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">打印机</label>
    <div class="col-lg-6">
        <div class="input-group">
            <input class="form-control" name="printers" type="text" ng-model="entity.printers" tooltip="多个打印机号，填写时请以英文逗号分隔">
            <span class="input-group-addon" style="cursor: pointer;" ng-click="addPrinter()"><i class="fa fa-plus"></i></span>
        </div>
    </div>
</div>
<div class="form-group">
	<label class="col-lg-2 control-label">状态</label>
	<div class="col-lg-10">
		<div class="btn-group">
      <button type="button" class="btn btn-success" ng-model="entity.status" btn-radio="'open'">营业</button>
      <button type="button" class="btn btn-warning" ng-model="entity.status" btn-radio="'closed'">停业</button>
		</div>
	</div>
</div>
