<div class="box-header" ng-init="initSkus()">
    <h2><i ng-class="currentView.icon"></i><span class="break"></span>
        <span ng-show='!entity.id'>进货与核销</span>
    </h2>
    <div class="box-icon">
        <a ng-click="cancelEdit()" class="btn-close"><i class="fa fa-times"></i></a>
    </div>
</div>
<div class="box-content" ng-init="checkShopManger()">
    <form class="form-horizontal" role="form" name="editForm">
        <div class="form-group" style="height: 60px;">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-6">
                    <div ng-if="errContent.msg" class="alert alert-danger" style="text-align: center;">
                        <span ng-bind="errContent.msg"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--START:just use for create-->
        <div class="form-group">
            <div class="form-group"  >
                <label class="col-lg-2 control-label">商品编码：</label>

                <div class="col-lg-6">
                    <input  class="form-control" type="text" ng-change="getInfo(entity.itemCode)"  ng-model="entity.itemCode" required>
                </div>
            </div>
            <div ng-if="isNewItem" style="margin-left: 50px">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-6">
                        <div class="alert alert-warning">
                            该商品为新货，请先填写该商品的有关信息
                        </div>
                    </div>
                </div>
                <div class="form-group"  >
                    <label class="col-lg-2 control-label">商品售价(单位：元)：</label>
                    <div class="col-lg-6">
                        <input  class="form-control" type="text" ng-model="item.itemPrice" required>
                    </div>
                </div>
                <div class="form-group"  >
                    <label class="col-lg-2 control-label">商品描述：</label>
                    <div class="col-lg-6">
                        <input  class="form-control" type="text" ng-model="item.itemDesc" required>
                    </div>
                </div>
                <div class="form-group"  >
                    <label class="col-lg-2 control-label">商品型号：</label>
                    <div class="col-lg-6">
                        <input  class="form-control" type="text" ng-model="item.itemModel" required>
                    </div>
                </div>
            </div>
            <div class="form-group"  >
                <label class="col-lg-2 control-label">商品名称：</label>

                <div class="col-lg-6">
                    <input   class="form-control" type="text" ng-model="entity.itemName" required>
                </div>
            </div>
            <div class="form-group"  >
                <label class="col-lg-2 control-label">商品数量：</label>
                <div class="col-lg-6">
                    <input  class="form-control" type="text" ng-model="entity.quantity" required>
                </div>
            </div>
            <div class="form-group"  >
                <label class="col-lg-2 control-label">进货单价（单位：元）：</label>
                <div class="col-lg-6">
                    <input  class="form-control" type="text" ng-model="entity.price" required>
                </div>
            </div>
            <div class="form-group"  >
                <label class="col-lg-2 control-label">进货类型：</label>
                <div class="col-lg-6">
                    <select ng-model="entity.selection" ng-options="item.label for item in types" class="form-control">
                    </select>
                </div>
            </div>
        </div>
        <!--END:just use for create-->
        <hr>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-6">
                <button  ng-click="create()" class="btn btn-primary btn-lg"><i class="fa fa-plus fa-lg"></i> 创建
                </button>
                <button ng-click="cancelEdit()" class="btn btn-warning btn-lg"><i class="fa fa-arrows-alt fa-lg"></i> 取消
                </button>
            </div>
        </div>
    </form>
</div>

<!--START: 新增店长-->
<script type="text/ng-template" id="createShopManger.html">
    <div class="modal-header">
        <h3 style="color: #3c763d;">新增店长 <span style="text-align: center;color: red;">发现您尚未创建店长，请先创建该店店长</span></h3>
    </div>
    <div class="modal-body">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="inputSuccess2">姓名</label>
            <input type="text" class="form-control" id="inputSuccess2" ng-model="employee.name">
        </div>
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="inputSuccess2">工号</label>
            <input type="text" class="form-control" id="inputSuccess2" ng-model="employee.jobNumber">
        </div>
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="inputSuccess2">手机号</label>
            <input type="text" class="form-control" id="inputSuccess2" ng-model="employee.phone">
        </div>
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="inputSuccess2">身份证号</label>
            <input type="text" class="form-control" id="inputSuccess2" ng-model="employee.idcard">
        </div>
        <div style="height: 50px;">
            <div ng-if="errContent.msg" class="alert alert-danger" style="text-align: center;">
                <span ng-bind="errContent.msg"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>
<!--End: 新增店长-->

