<div class="box-header">
  <div class="row">
    <div class="col-xs-4">
      <ol class="breadcrumb" style="background-color: #36a9e1; margin: 0px; padding: 0px; padding-left: 0px; margin-bottom: 0px; margin-top: 8px; margin-left: 15px;">
        <li><a style="color: #fff">商户管理</a></li>
        <li><a style="color: #fff">{{currentView.name}}</a></li>
      </ol>
    </div>
    <div class="col-xs-6"></div>
    <div class="col-xs-2">
      <div class="box-icon">
        <a ng-click="showCreate()" class="btn-puls" ng-hide="isHide"><i class="fa fa-plus"/></a>
        <a ng-click="refreshList()" class="btn-refresh"><i class="fa fa-refresh"/></a>
      </div>
    </div>
  </div>
</div>

<div class="box-content">
  	<div class="col-lg-12">
  		<a ng-repeat="shortcut in profileShortcuts" ng-class="shortcut.class" ng-click="editMerchant(currentMerchant.merchant)">
  			<i ng-class="shortcut.icon" />
  			<p>{{shortcut.text}}</p>
  		</a>
      <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-1" style="position: relative; top: 30px">
              <h4>当前商户</h4>
          </div>
          <div class="col-lg-2" style="position: relative; top: 30px">
              <select class="form-control" ng-model="currentMerchant.merchant" ng-options="option as option.name for option in allMerchant">
                  <option value="">-- 选择商户 --</option>
              </select>
          </div>
          <div class="col-lg-2" style="position: relative; top: 30px">
              <div class="checkbox" ng-init="local.cbx=false">
                  <label>
                      <input type="checkbox" ng-model="local.cbx"> 记住我的选择
                  </label>
              </div>
          </div>
      </div>
  	</div>
    <div class="row" style="height: 30px"></div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-1">
            <div ng-show="profileAvatar">
                <img ng-src={{profileAvatar}} alt="Avatar" class="img-circle">
            </div>
        </div>
        <div class="col-lg-8">
            <table class="table table-striped">
                <tbody>
                <tr ng-repeat="field in profileFields" ng-hide="field.isProfileHide">
                    <td class="center"><h4>{{field.title}}</h4></td>
                    <td class="center">
                        <h4 ng-if="field.value" ng-class="currentMerchant.merchant.fieldClass[field.name]">{{field.value(currentMerchant.merchant)}}</h4>
                        <h4 ng-if="!field.value" ng-class="currentMerchant.merchant.fieldClass[field.name]">{{valueOfKeyString(currentMerchant.merchant, field.name)}}</h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="clearfix"></div>
</div>
