<div class="navbar" ng-controller="HeaderController" ng-init="init()">
	<div class="container">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
		      <span class="fa fa-bar"></span>
		      <span class="fa fa-bar"></span>
		      <span class="fa fa-bar"></span>
		</button>
		<a id="main-menu-toggle" class="hidden-xs open"><i class="fa fa fa-bars"></i></a>		
		<a class="navbar-brand col-lg-2 col-sm-1 col-xs-12" href="#!/crm"><span>泛商汇RMS</span></a>
		<!-- start: Header Menu -->
		<div class="nav-no-collapse header-nav">
			<ul class="nav navbar-nav pull-right">
				<!-- start: User Dropdown -->
				<li class="dropdown">
					<a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
						<div class="avatar"><img src="img/avatar.jpg" alt="Avatar"></div>
						<div class="user">
              <span class="hello">欢迎回来！</span>
							<span class="name">{{me.displayName}}</span>
						</div>
					</a>
					<ul class="dropdown-menu">
						<li class="dropdown-menu-title">我的设置</li>
						<li><a ng-click="showMeProfile()"><i class="fa fa-user"></i> 个人资料 </a></li>
						<li><a ng-click="showChangePasswordDialog()"><i class="fa fa-cog"></i> 修改密码</a></li>
						<li><a ng-click="signout()"><i class="fa fa-off"></i> 登出 </a></li>
					</ul>
				</li>
				<!-- end: User Dropdown -->
			</ul>
		</div>
		<!-- end: Header Menu -->
	</div>
</div>
<!-- Start: Setting Password -->
<script type="text/ng-template" id="passwordDialog.html">
	<div class="modal-header">
		<h3>设置新密码</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label class="col-lg-2 control-label" for="new-password">
				<i class="fa fa-lock"></i>
				请输入新密码
			</label>
			<div class="col-lg-10">
			  <input class="input-xlarge span5" ng-model="$parent.newPassword" type="password" required>
			</div>
			<label class="col-lg-2 control-label" for="new-password">
				<i class="fa fa-lock"></i>
				请重复输入一遍上面的密码
			</label>
			<div class="col-lg-10">
			  <input class="input-xlarge span5" ng-model="$parent.passwordConfirmation" type="password" required>
			</div>
	  </div>
    <alert type="alert.type" ng-hide="!alert" close="closeAlert()">{{alert.msg}}</alert>
	</div>
	<div class="modal-footer">
		<a class="btn" ng-click="cancel()">关闭</a>
		<a class="btn btn-primary" ng-click="setPassword()">修改密码</a>
	</div>
</script>
<!-- End: Setting Password -->