<div class="container">
    <div class="row">
        <div class="row">
            <div class="page-header" >
                <h1 class="text-center text-primary"><img src="img/logo.png" alt="泛商汇RMS">  <small>零售管理系统</small></h1>
            </div>

            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header" style="background-color: #36a9e1">
                    <h1 class="text-center" style="color: #ffffff">新用户注册</h1>
                </div>
                <div class="modal-body">
                    <form role="form" >
                        <div class="form-group col-lg-6">
                            <label>手机号*</label>
                            <label style="color: red">{{userNameErrMess}}</label>
                            <input type="number" ng-model="registerUser.username" class="form-control" required="true">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>密码*</label>
                            <label style="color: red">{{passwordErrMess}}</label>
                            <input type="password" ng-model="registerUser.password" class="form-control" required="true">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>再次输入密码*</label>
                            <label style="color: red">{{repasswordErrMess}}</label>
                            <input type="password" ng-model="registerUser.repassword" class="form-control" required="true">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>姓名*</label>
                            <input type="text" ng-model="registerUser.displayName" class="form-control" required="true">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>身份证</label>
                            <label style="color: red">{{idcardErrMess}}</label>
                            <input type="number" ng-model="registerUser.idcard" class="form-control">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>邮箱</label>
                            <input type="email" ng-model="registerUser.email" class="form-control">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>性别</label><br>
                            <div class="btn-group" style="text-align: right">
                                <button type="button" class="btn btn-primary" ng-model="registerUser.male" btn-radio="true">男</button>
                                <button type="button" class="btn btn-danger" ng-model="registerUser.male" btn-radio="false">女</button>
                            </div>
                        </div>
                        <div class="form-group col-lg-6" style="text-align: right">
                            <button type="submit" class="btn btn-primary col-xs-12" ng-click="ok()">注册</button>
                        </div>
                    </form>
                    <br>
                    <p style="padding-left: 15px">* 标注为必填项 </p>
                </div>

            </script>
            <div class="login-box">
                <h2>{{loginTitle}}</h2>
                <form class="form-horizontal" ng-submit="Login()" ui-keypress="{13:'Login($event)'}" form-autofill-fix>
                    <fieldset>
                        <input class="input-large col-xs-12" ng-model="loginUser.username" name="username" type="text"
                               placeholder="用户名" style="color: #000000!important;" required/>
                        <input class="input-large col-xs-12" ng-model="loginUser.password" name="password"
                               type="password" placeholder="密码" style="color: #000000!important;" required/>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <button type="submit" class="btn btn-primary col-xs-5">登录</button>
                        <div class="col-xs-2"></div>
                        <button type="button" class="btn btn-default col-xs-5" ng-click="registerWizard()">注册</button>
                    </fieldset>
                </form>
                <alert type="alert.type" ng-hide="!alert">{{alert.msg}}</alert>
                <hr>
                <p class="text-center"> 泛盈科技 @2013</p>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/fluid-row-->
</div><!--/.fluid-container-->
