<div class="container">
	<div class="row">
		<div class="row">
			<div class="page-header">
			  <h1 class="text-center text-primary">泛商汇RMS - 零售管理系统</h1>
			</div>
			<div class="login-box">
				<h2>请登录</h2>
				<form class="form-horizontal" autofill-submit="login()" ui-keypress="{13:'Login($event)'}">
					<fieldset>
					
						<input class="input-large col-xs-12" ng-model="loginUser.username" name="username" type="text" placeholder="用户名" required />

						<input class="input-large col-xs-12" ng-model="loginUser.password" name="password" type="password" placeholder="密码" required />

						<div class="clearfix"></div>
					
						<div class="clearfix"></div>

						<button type="submit" class="btn btn-primary col-xs-12" ng-click="Login()">登录</button>
					</fieldset>	
				</form>
        <alert type="alert.type" ng-hide="!alert">{{alert.msg}}</alert>
				<hr>
				<p class="text-center"> 泛盈科技 @2013</p>
				<!-- <h3>Forgot Password?</h3>
				<p>
					No problem, <a href="login.html#">click here</a> to get a new password.
				</p>	 -->
			</div>
		</div><!--/row-->
	</div><!--/fluid-row-->
</div><!--/.fluid-container-->
