<div ng-controller="MainController">
  <!-- start: Header -->
  <div ng-include="'views/header.html'">
  </div>
  <!-- end: Header -->
  <div class="container">
    <!-- start: Main Menu && Content-->
    <div class="row">
      <!-- start: Main Menu -->
      <div id="sidebar-left" class="col-lg-2 col-sm-1">
        <div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
          <ul class="nav nav-tabs nav-stacked main-menu">
            <li ng-repeat="view in views" ng-class="{active:view == currentView && !view.submenus}">
              <a href="" ng-click="selectView(view)" ng-class="{dropmenu:view.submenus.length > 0}">
                  <div class="row">
                      <div class="col-lg-10">
                          <i class={{view.icon}}></i>
                          <span class="hidden-tablet"> {{view.name}}</span>
                      </div>
                      <div class="col-lg-2">
                          <span class="badge" style="margin-top: 2px" ng-if="view.submenus.length">{{view.submenus.length}}</span>
                      </div>
                  </div>

              </a>
              <ul ng-show="view.submenus.length && (view == currentView || -1 < view.submenus.indexOf(currentView))" style="margin-left:10px;display: block">
                <li ng-repeat="subview in view.submenus" ng-class="{active:subview == currentView}">
                  <a class="submenu" href ng-click="selectView(subview)">
                    <i class={{subview.icon}}></i>
                    <span class="hidden-tablet"> {{subview.name}}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- end: Main Menu -->


      <!-- start: Content -->
      <div id="content" class="col-lg-10 col-sm-11">
        <div ng-include="currentView.path" />
      </div>
      <!-- end: Content -->
    </div>
    <!-- end: Main Menu && Content-->
    
    <div class="clearfix"></div>

    <footer>
      <p>
        <span style="text-align:left;float:left">
          &copy; 2013 <a href="http://fankahui.com" alt="泛商汇RMS">泛商汇RMS</a>
        </span>
        <span class="hidden-phone" style="text-align:right;float:right">
          Powered by: <a href="http://fankahui.com" alt="泛盈科技">泛盈科技</a>
        </span>
      </p>
    </footer>
    
  </div><!--/.fluid-container-->
</div>

