<div class="box-header">
	<h2><i ng-class="currentView.icon"></i><span class="break"></span>{{currentView.name}} - 详情</h2>
	<div class="box-icon">
		<a ng-click="showList()" class="btn-close"><i class="fa fa-times"></i></a>
	</div>
</div>
<div class="box-content">
	<div class="col-lg-12">
		<a ng-repeat="shortcut in profileShortcuts" ng-class="shortcut.class" ng-click="operateFunc(entity, shortcut.op)">
			<i ng-class="shortcut.icon" />
			<p>{{shortcut.text}}</p>
		</a>
	</div>
	
	<div class="col-lg-12">
    <div class="col-lg-1 col-md-2 col-xs-6" />
		<div class="col-lg-1 col-md-2 col-xs-6" ng-show="profileAvatar">
			<img ng-src={{profileAvatar}} alt="Avatar" class="img-circle">
		</div>
		<div class="col-lg-8 col-md-10 col-xs-12">
			<table class="table table-striped">
			  <tbody>
					<tr ng-repeat="field in profileFields" ng-hide="field.isProfileHide">
						<td class="center"><h4>{{field.title}}</h4></td>
						<td class="center" ng-if="field.name == 'deliveryAddress'">
              <div class="row" ng-if="entity.deliveryAddress.length">
                  <div class="col-lg-2"><h4>地址</h4></div>
                  <div class="col-lg-2"><h4>收货人</h4></div>
                  <div class="col-lg-2"><h4>手机</h4></div>
              </div>
                  <h4 ng-if="!entity.deliveryAddress.length">当前会员暂无地址！</h4>
                  <div class="row" ng-repeat="obj in entity.deliveryAddress">
                      <div class="col-lg-2"><h4>{{obj.address}}</h4></div>
                      <div class="col-lg-2"><h4>{{obj.name}}</h4></div>
                      <div class="col-lg-2"><h4>{{obj.phone}}</h4></div>
                  </div>
              </td>
            <td class="center" ng-if="field.name!='deliveryAddress'">
							<h4 ng-if="field.value" ng-class="entity.fieldClass[field.name]">{{field.value(entity)}}</h4>
							<h4 ng-if="!field.value" ng-class="entity.fieldClass[field.name]">{{valueOfKeyString(entity, field.name)}}</h4>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
